<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TTMS</display-name>
  <welcome-file-list>
    <welcome-file>userIndex.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudioAdd</display-name>
    <servlet-name>StudioAdd</servlet-name>
    <servlet-class>Servlet.StudioAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioAdd</servlet-name>
    <url-pattern>/StudioAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudioModify</display-name>
    <servlet-name>StudioModify</servlet-name>
    <servlet-class>Servlet.StudioModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioModify</servlet-name>
    <url-pattern>/StudioModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudioDelete</display-name>
    <servlet-name>StudioDelete</servlet-name>
    <servlet-class>Servlet.StudioDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioDelete</servlet-name>
    <url-pattern>/StudioDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudioSearch</display-name>
    <servlet-name>StudioSearch</servlet-name>
    <servlet-class>Servlet.StudioSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioSearch</servlet-name>
    <url-pattern>/StudioSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginManager</display-name>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>Servlet.LoginManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/LoginManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatSearch</display-name>
    <servlet-name>SeatSearch</servlet-name>
    <servlet-class>Servlet.SeatSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatSearch</servlet-name>
    <url-pattern>/SeatSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatModify</display-name>
    <servlet-name>SeatModify</servlet-name>
    <servlet-class>Servlet.SeatModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatModify</servlet-name>
    <url-pattern>/SeatModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign</display-name>
    <servlet-name>Sign</servlet-name>
    <servlet-class>Servlet.Sign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign</servlet-name>
    <url-pattern>/Sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieSeat</display-name>
    <servlet-name>MovieSeat</servlet-name>
    <servlet-class>Servlet.MovieSeat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieSeat</servlet-name>
    <url-pattern>/MovieSeat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieTicket</display-name>
    <servlet-name>MovieTicket</servlet-name>
    <servlet-class>Servlet.MovieTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieTicket</servlet-name>
    <url-pattern>/MovieTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieOrder</display-name>
    <servlet-name>MovieOrder</servlet-name>
    <servlet-class>Servlet.MovieOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieOrder</servlet-name>
    <url-pattern>/MovieOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetScheduleById</servlet-name>
    <servlet-class>GetScheduleById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScheduleById</servlet-name>
    <url-pattern>/GetScheduleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelScheduleById</servlet-name>
    <servlet-class>DelScheduleById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelScheduleById</servlet-name>
    <url-pattern>/DelScheduleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModScheduleById</servlet-name>
    <servlet-class>ModScheduleById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModScheduleById</servlet-name>
    <url-pattern>/ModScheduleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsScheduleById</servlet-name>
    <servlet-class>InsScheduleById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsScheduleById</servlet-name>
    <url-pattern>/InsScheduleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPlay</servlet-name>
    <servlet-class>GetPlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPlay</servlet-name>
    <url-pattern>/GetPlay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelPlay</servlet-name>
    <servlet-class>DelPlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelPlay</servlet-name>
    <url-pattern>/DelPlay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModPlay</servlet-name>
    <servlet-class>ModPlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModPlay</servlet-name>
    <url-pattern>/ModPlay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnTicket</display-name>
    <servlet-name>ReturnTicket</servlet-name>
    <servlet-class>Servlet.ReturnTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnTicket</servlet-name>
    <url-pattern>/ReturnTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>Servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaySearch</display-name>
    <servlet-name>PlaySearch</servlet-name>
    <servlet-class>Servlet.PlaySearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaySearch</servlet-name>
    <url-pattern>/PlaySearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayAdd</display-name>
    <servlet-name>PlayAdd</servlet-name>
    <servlet-class>Servlet.PlayAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayAdd</servlet-name>
    <url-pattern>/PlayAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayDelete</display-name>
    <servlet-name>PlayDelete</servlet-name>
    <servlet-class>Servlet.PlayDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayDelete</servlet-name>
    <url-pattern>/PlayDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayModify</display-name>
    <servlet-name>PlayModify</servlet-name>
    <servlet-class>Servlet.PlayModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayModify</servlet-name>
    <url-pattern>/PlayModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleSearch</display-name>
    <servlet-name>ScheduleSearch</servlet-name>
    <servlet-class>Servlet.ScheduleSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleSearch</servlet-name>
    <url-pattern>/ScheduleSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleAdd</display-name>
    <servlet-name>ScheduleAdd</servlet-name>
    <servlet-class>Servlet.ScheduleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleAdd</servlet-name>
    <url-pattern>/ScheduleAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleDelete</display-name>
    <servlet-name>ScheduleDelete</servlet-name>
    <servlet-class>Servlet.ScheduleDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleDelete</servlet-name>
    <url-pattern>/ScheduleDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleModify</display-name>
    <servlet-name>ScheduleModify</servlet-name>
    <servlet-class>Servlet.ScheduleModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleModify</servlet-name>
    <url-pattern>/ScheduleModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>Servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetails</display-name>
    <servlet-name>MovieDetails</servlet-name>
    <servlet-class>Servlet.MovieDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetails</servlet-name>
    <url-pattern>/MovieDetails</url-pattern>
  </servlet-mapping>
  <filter>

<filter-name>cors</filter-name>

<filter-class>Util.CorsFilter</filter-class>

</filter>

<filter-mapping>

<filter-name>cors</filter-name>

<url-pattern>/*</url-pattern>

</filter-mapping>
</web-app>